description = "Maria's Layout"
==
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ this.page.meta_description|default(this.theme.description) }}">
    <meta name="keywords" content="{{ this.theme.keywords }}">
    <meta name="author" content="{{ this.theme.website_author }}">
    <title>{{ this.theme.website_name}}</title>
    <link rel="canonical" href="{{ this.theme.website_url }}" />
    <link rel="icon" type="image/png" href="{{ 'assets/img/icon.png'|theme }}" />

    {% if this.theme.load_google_fonts %}
    <link href="https://fonts.googleapis.com/css?family={{ this.theme.google_font_family }}" rel="stylesheet">
    {% endif %}

    {% if this.theme.load_fontawesome %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    {% endif %}

    {% if this.theme.load_material_icons %}
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% endif %}

    {% if this.theme.load_stroke7_icons %}
    <link href="{{ 'assets/css/stroke7/stroke7-icon-font.min.css'|theme }}" rel="stylesheet">
    {% endif %}

    <link href="{{ ['assets/scss/style.scss']|theme }}" rel="stylesheet">

    {% partial "_addons/css" %}

</head>

<body>
    <section id="lt-navigation" class="lt-section section">
        {% partial "pages-all/navigation" %}
    </section>

    <section id="lt-mainpage" class="lt-section section">
        {% page %}
    </section>

    <section id="lt-footer" class="lt-section section">
        {% partial "pages-all/footer" %}
    </section>

    <section id="lt-copyright" class="lt-section section">
        {% partial "pages-all/copyright" %}
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/{{ this.theme.jQuery_version }}/jquery.min.js"></script>

    <!-- {% if this.theme.load_octobercms_framework %}
    {% framework extras %}
    {% endif %} -->

    {% partial "_addons/js" %}

</body>

</html>